APP_HOST=localhost
APP_PORT=8080
APP_ENV=local
GIN_MODE=debug
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=go_with_tools_user
DB_PASSWORD=go_with_tools_password
DB_DATABASE=go_with_tools_db
DB_SCHEMA=public
REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB_IDENTIFIER=0
REDIS_MAX_RETRIES=3
REDIS_READ_TIMEOUT=3
REDIS_WRITE_TIMEOUT=3
REDIS_MIN_IDLE_CONNS=5
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://go_with_tools_user:go_with_tools_password@localhost:5432/go_with_tools_db
GOOSE_MIGRATION_DIR=./internal/database/migrations
GOOSE_TABLE=goose_migrations
JWT_SECRET=my-very-secret-key-for-safe-jwt