APP_PORT=50051
APP_PORT_AIR=50052

LOG_LEVEL=debug

REDIS_ADDR=localhost:6379
DOCKER_EXPOSED_REDIS_PORT=6380
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB_IDENTIFIER=0
REDIS_MAX_RETRIES=3
REDIS_READ_TIMEOUT=3
REDIS_WRITE_TIMEOUT=3
REDIS_MIN_IDLE_CONNS=5

DB_HOST=localhost
DB_PORT=5432
DOCKER_EXPOSED_DB_PORT=5433
DB_USERNAME=go_with_tools_auth_user
DB_PASSWORD=go_with_tools_auth_password
DB_DATABASE=go_with_tools_db
DB_SCHEMA=public

KAFKA_ADDR=localhost:9092

JWT_SECRET=my-very-secret-key-for-safe-jwt